.wrapper{
  width: 60%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 20px;
}

.cameraWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameraWrapper button, .marginTop {
  margin-top: 10px;
}

.deviceId {
  display: flex;
  align-items: center;
}

.mainUserWrapper{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
}

.imageContainer {
  width: 250px;
  height: 200px;
  margin-right: 20px;
}